@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  padding:15px;
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

button:hover{
  scale: 1.05;
}
.ccp:hover{
  background: red;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    
  }
  to {
    opacity: 1;
    
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
    left: 0;
  }
  to {
    opacity: 0;
    left: -50px;
  }
}


.fade-in-button {
  animation: fadeIn 300ms ease-in-out;
}

.fade-out-button {
  animation: fadeOut 300ms ease-in-out;
}



.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in-out;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
  transition: opacity 500ms ease-in-out;
}
